# PlayQ Environment: letcodesamples
# Select this environment via: --env letcodesamples

PLAYQ_ENV=letcodesamples
PLAYQ__browser__browserType=chromium
PLAYQ__testExecution__actionTimeout=30000

# Base URLs for LetCode sample pages
env.letcodesamples.base.url=https://letcode.in
env.letcodesamples.radio.url=#{env.letcodesamples.base.url}/radio
env.letcodesamples.forms.url=#{env.letcodesamples.base.url}/forms
env.letcodesamples.dropdowns.url=#{env.letcodesamples.base.url}/dropdowns
env.letcodesamples.file.url=#{env.letcodesamples.base.url}/file

# Preferred pattern name (used in examples)
env.default.pattern=letcodesamples
